[submodule "tests/DockerComposeFixture"]
	path = tests/DockerComposeFixture
	url = https://github.com/joemphilips/DockerComposeFixture
[submodule "DotNetLightning"]
	path = DotNetLightning
	url = https://github.com/joemphilips/DotNetLightning
